[user]
	name = Dave Steffen
	email = dsteffen@scitec.com
[status]
	color = auto
[color]
	diff = auto
	status = auto
	branch = auto
[color "status"]
        untracked = magenta bold
        changed = yellow bold
        #changed = red bold

[color "branch"]
       current = green bold
       #    local = yellow
       remote = yellow

[diff]
	tool = kdiff3
[difftool "kdiff3"]
	trustExitCode = false

[difftool]
	prompt = false

[merge]
	summary = true
	tool = kdiff3
[mergetool]
        prompt = false
[mergetool "kdiff3"]
	trustExitCode = false

[alias]
     df   = difftool
     get  = fetch origin --prune
     cleanup = clean -fdx
     rebc = rebase --continue
     sup  = submodule update
     supr = submodule update --recursive
     cam  = commit --amend
#    st   = status
#    stat = status
     ci   = commit
#    cia  = commit -a
#    br   = branch
     co   = checkout
#    lg   = log -p
#    gk   = log  --graph --abbrev-commit --pretty=oneline --decorate --all
     sb   = show-branch --color --more=99 --sha1-name
[core]
	excludesfile = /home/dgsteffen/.gitignore

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
