[user]
	name = Dave Steffen
	email = dsteffen@scitec.com 
[status]
	color = auto
[color]
	diff = auto
	status = auto
	branch = auto

[diff]
	tool = kdiff3
[difftool "kdiff3"]
	trustExitCode = false

[difftool]
	prompt = false

[merge]
	summary = true
	tool = kdiff3
[mergetool]
        prompt = false
[mergetool "kdiff3"]
	trustExitCode = false

[alias]
     df   = difftool
     get  = fetch origin --prune
     cleanup = clean -fdx
     rebc = rebase --continue
#    st   = status
#    stat = status
     ci   = commit
#    cia  = commit -a
#    br   = branch
     co   = checkout
#    lg   = log -p
#    gk   = log  --graph --abbrev-commit --pretty=oneline --decorate --all
     sb   = show-branch --color --more=99 --sha1-name
[core]
	excludesfile = /home/dgsteffen/.gitignore

