[user]
	name = Dave Steffen
	email = dsteffen@scitec.com
[core]
	excludesfile = /home/dgsteffen/.gitignore
        editor = emacs
[status]
	color = auto
[color]
	diff = auto
	status = auto
	branch = auto
[color "status"]
        untracked = magenta bold
        changed = yellow bold

[color "branch"]
       current = green bold
       #    local = yellow
       remote = yellow

[diff]
	tool = kdiff3
[difftool "kdiff3"]
	trustExitCode = false

[difftool]
	prompt = false

[merge]
	summary = true
	tool = kdiff3
[mergetool]
        prompt = false
[mergetool "kdiff3"]
	trustExitCode = false

[submodule]
        fetchjobs=6


[alias]
     df   = difftool
     get  = fetch origin --prune
     cleanup = clean -fdx
     rebc = rebase --continue
     sup  = submodule update
     supr = submodule update --init --recursive
     subreset = submodule foreach --recursive git reset --hard
     cam  = commit --amend
     ci   = commit
     co   = checkout
     gk   = log  --graph --abbrev-commit --pretty=oneline --decorate --all

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[gui]
	fontui = -family \"DejaVu Sans\" -size 12 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"DejaVu Sans Mono\" -size 12 -weight normal -slant roman -underline 0 -overstrike 0
